<div class="container fa-3x" *ngIf="!isLoaded">

  <i class="fa-solid fa-cog fa-spin fa-spin-reverse center" ></i>

</div>

<table class="table table-striped" *ngIf="isLoaded">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Flight number</th>
        <th scope="col">Name</th>
        <th scope="col">Local Date</th>
        <th scope="col">Last Launch</th>
        <th scope="col">More</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of LanzamientosRender">
        <th scope="row">{{item.id}}</th>
        <td>{{item.flight_number}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date_utc| date}}</td>
        <td>(({{item.date_utc-date}})/1000*60*60*24)</td>
        <td><button type="button" class="btn btn-info" routerLink="{{item.id}}">Info</button>
        </td>
      </tr>
    </tbody>
  </table>